{% extends 'base.html.twig' %}

{% block title %}Edit FtpGroup{% endblock %}

{% block body %}
    <h1>{% trans %}ftpgroup.edit{% endtrans %}</h1>

    {{ include('ftp_group/_form.html.twig') }}

{% endblock %}
