{% extends 'base.html.twig' %}

{% block title %}New FtpGroup{% endblock %}

{% block body %}
    <h1>{% trans %}ftpgroup.create_new{% endtrans %}</h1>

    {{ include('ftp_group/_form.html.twig', {'button_label': 'Create'}) }}

{% endblock %}
