{% extends 'base.html.twig' %}

{% block title %}Edit FtpUser{% endblock %}

{% block body %}
    <h1>Edit FtpUser</h1>

    {{ include('ftp_user/_form.html.twig', {'button_label': 'Update'}) }}

{% endblock %}
